@charset "UTF-8";
/* CSS Document */

html {
	width: 100%;
	padding: 0;
	margin:0;
	} 
	
body {
	
	margin: 0 auto;
	width: 100%;
	min-width: 240px;
	height:auto;
	height: 70vh;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	}

header {
	
	background-color: #f2f2f2;
	width: 100%;
  	height: 80px;
  	padding-top: 5px;
	
	box-shadow: 1px 1px 1px #ccc;	
	}     

.menubar {
	clear:both;
	width: 100%;
  	height: 50px;
	z-index: 4;
	} 

.holder {
	display: none;
}

.wrapper {
	margin: 2%;
	clear:both;
}

.arrow {
	clear:both;
	z-index: 4;
	} 

.imgholder {
	padding: -10px;
}

.intro {
	padding-top: 20px;
	margin: 10px;
}

.outro {
	padding-top: 5px;
	margin: 10px;	
}

.logo {

}


	
h1 {
	font-size: 22px;
	color: #999;
	margin-bottom: 5px;
}

h {
	margin-top: 15px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	color:#666;
	text-align:center;
}

h2 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 900;
	color: #AECFED;
}

p {
	padding-top:10px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	color: #666;
}


.identity {
	width: 100%;
	display:inline-block;
	padding-top: 2em;
}

.identity img {
	width:100%;
	max-width: 400px;
}

.infograph {
	width: 100%;
	display:block;
}

.infograph img {
	width: 100%;
	max-width: 400px;
}

.coffee {
	width: 100%;
	display:block;
}

.coffee img {
	width: 100%;
	max-width: 400px;
}

.woodstock {
	width: 100%;
	display:block;
}

.woodstock img{
	width: 100%;
	max-width: 400px;
}

figure {
	display: block;
	}

figcaption {
	padding-bottom: 2.5em;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666;
}



.right{
	margin:2%;
	background-color: #FFF;
	border-radius: 10px;
	z-index: 10;
	display:block;
	overflow:hidden;
}	


.icons {
	margin-top: 5px;
	padding: 5px;
	float: right;
}

.content {
	border-radius: 10px;
	background-color:#FFF;
	padding: .5em;
	overflow: hidden;
	float:none;
	margin: 2%;
}

article {
	border-radius: 10px;
	background-color:#FFF;
	margin: 2%;
}

.article2 {
	display: none;
}

.bucket {
	padding: 10px;
	overflow:hidden;
	float: none;
}


.ac-container{
	width: 100%;
	margin: 0px auto 5px auto;
	text-align: left; 
	border-bottom: #AECFED solid 3px;
}

.ac-container label{
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 15px;
	position: relative;
	z-index: 0;
	display: block;
	height: 40px;
	cursor: pointer;
	color:#999;
	line-height: 33px;
	font-size: 16px;
	background-color: #f5f5f5;
	border-top: #CCC solid 1px;
}

.ac-container label:hover{
	background-color: #e2f1f7;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #f2fbff;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 180px;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	bottom: 0;
	height: 40px;
	overflow: hidden;
	position: absolute;

	background: transparent url("../../responsive-site/img/icon-nav.svg") no-repeat 0 0;
	border: 0;

	text-indent: 100%;
	white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #fff;
	background-position: 0 -40px;
	color: #96cce1;
}

.nav-btn[data-state="active"] {
	background-color: #f2fbff;
	background-position: -46px -40px;
	color: #ccc;
}

.active {
 background-color:#fff;
 color: #96cce1;
}

.nav {
	margin: 0;
	overflow: hidden;
	padding: 0;

	background-color: #fff;
}

.nav > ul {
	margin: 0;
	padding: 0.8rem 0;

	list-style-type: none;
	font-size: 14px;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5rem 10px;
	font-size:16px;
	border: 0;

	color:#666;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #fff;

	color: #96cce1;
}

.nav-bottom {
	margin-top: 1.5rem;
}



@media only screen and (min-width: 37.5em) {

.identity {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
	max-width: 309px;
}

.infograph {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
	max-width: 309px;
}

.coffee {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
	max-width: 309px;
}

.woodstock {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
	max-width: 309px;
}

.bucket {
		width: 90%;
		margin-right: 0;
		padding-top: 0;
	}

.nav {
		text-align:center;
		padding: 0;
		margin:0;

}

.nav li {
		display: inline-block;
		float: none;
		width:auto;
		padding: 0px 40px 0px 40px;
}

.nav ul {
	border-bottom: #AECFED solid 3px;
}

.nav-btn {
		display:none;
}


.holder {
	float: left;
	display:inline;
	width: 100%;
	padding-top: 5px;
	text-align: left;
}

.content {
	margin-top: 8px;
	float: left;
	width: 50%;
}

article {
	float: left;
	width: 35%;
	margin-top: 8px;
	margin-right: 0;
	margin-left: 5%;
	padding-top: 34px;
	padding-bottom:34px;	
}

.james {
	width:auto;
}

.imgholder {
	width: 80%;
}

.article2 {
	display: none;
}

.intro {
	display: none;
}

.outro {
	display: none;	
}

.ac-container{
	display: none;
}

.right {
	float: left;
	display: inline;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	overflow:scroll;
	padding-top: 0;
	
}

}


@media only screen and (min-width: 58.75em) {

.bucket {
	padding-top:0;
	padding-left:2em;
	padding-right:2em;
	margin:0;
}

.right {
	float:left;
	display: inline;
	width: 60%;
	margin: 10px;
	margin-left:2%;
	overflow:scroll;
	padding-left: 10px;
	padding-top:0;
	
}

.identity {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
}

.infograph {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
}

.coffee {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
}

.woodstock {
	width: 45%;
	margin-left:1.5em;
	display:inline-block;
}

.holder {
	float: left;
	display: inline-block;
	width: 15%;
	padding-top: 5px;
	margin-left: 10%;
	min-width: 150px;
}

.nav li {
		display: inline-block;
		float: none;
		width:auto;
		padding-top: 12%;
		padding-bottom: 12%;
		border-bottom-style:hidden;
}

.content {
	float: left;
	display: inline-block;
	width: 40%;
	margin-top: 8px;
	margin-right: 8px;
}


article {
	display: none;
}

.article2 {
	background-color:#FFF;
	border-radius: 10px;
	float: left;
	width: 30%;
	margin-top: 8px;
	padding-top: 34px;
	padding-bottom:34px;
	display:inline;
	z-index: 10;
	max-width: 340px;
}

.intro {
	display: none;
}

.outro {
	display: none;	
}

.ac-container{
	display: none;
}

.logo {
	display: none;
}

.logo2 {
	display:inline;
	float:left;
	padding-top: 5px;
	padding-left:9%;
}

.james {
	width: 80%;
	opacity: 50;
	padding: 0;
	z-index: 1;
	}
	
.icons {
	float:right;
	margin-top: 2%;
	padding-right: 5px;
}

.social-icons {
	margin: 0 50px 0 0;
	float: right;
}



.border-p {
}

}

