@charset "UTF-8";
/* CSS Document */

html {
	width: 100%;
	padding: 0;
	margin:0;
	} 
	
body {
	margin: 0 auto;
	width: 100%;
	font-family: 'Gruppo', cursive;
	}

/*header {
	background-color: #222;
	width: 100%;
  	height: 60px;
  	position: fixed;
  	z-index: 100;
  	
	}   */ 


#landing {
	
	background: url(../images/!BG6.jpg) 50% 0 no-repeat fixed;
	height: 100vh;  
	margin: 0 auto; 
    width: 100%;
    position: relative;
   	z-index: 1;
   	overflow: hidden;
   
}

.intro {
	background: url(../images/!BG6.jpg) 50% 0 no-repeat fixed;
	width: 100%;
	margin: 0 auto;
	text-align: right;
    position: relative; 
   	z-index: 1;
   	overflow: hidden;
   	height: 56vh;
   	padding-top: 200px;
   font-family: 'Roboto', sans-serif;
   	font-weight: 100;
	color: #fff;
	display: inline-block;
}


h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 34pt;
	text-align: center;
	letter-spacing: -.01em;
	line-height: .1em;
	margin-bottom: 50px;

}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size: 40pt;
	text-align: center;
	letter-spacing: -.01em;
	color:#e58229;
	line-height: .1em;
	padding: 0 10px;
			
}


#section1 {
	height: 90vh;
	background: #fff 50% 0 no-repeat fixed;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

#section1 h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100	;
	font-size: 34pt;
	letter-spacing: -.01em;
} 



.scroll {
	background-image: url(../images/scroll.svg);
	background-repeat: no-repeat;
	width: 40px;
	height: 40px; 
	text-align: center;
	margin: 260px auto 0;
	position: relative;	
	opacity: .5;


}



#section2 {
	height:100vh;
	background: #333 50% 0 no-repeat fixed;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.underline {
	width: 15%;
	margin: 34px auto;
	text-align: center;
	border-bottom: 1px solid #555;
	position: relative;


}


/*



@media only screen and (min-width: 37.5em) {
}








@media only screen and (min-width: 58.75em) {




}
*/
