<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>gollner design {{page.title}}</title>
<link href="css/reset.css" rel="reset">
<link href="css/general.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
	
		<header>
			
			
		</header>
	
		<section id="landing" data-type="page" scroll-speed="10">
			
		</section>
	

	

						
	{{content}}
	
			
			<footer>
					
			</footer>
			
			
</body>
</html>
