<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>gollner design {{page.title}}</title>
<link href="css/reset.css" rel="reset">
<link href="css/general.css" rel="stylesheet">
</head>

<body>
	
		<header>
			<img class="logo" src="images/logo.svg" height="50" width="150">
			
		</header>
	
	
	
	<section class="ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="checkbox" />
					<center><label for="ac-1"><img class="arrow" src="images/arrow.png"></label></center>
					<article class="ac-large">
							<nav id="nav" class="nav nav-top">
							<ul>
								<center><li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="contact.html">Contact</a></li></center>
							</ul>
						</nav>
					</article>
				</div>
			</section>
			</div>
		
						<div class="holder">
						<nav id="nav" class="nav nav-top">
							<ul>
								<center><li class="active"><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="contact.html">Contact</a></li></center>
							</ul>
						</nav>
						</div>
	
	{{content}}
	
			
			<footer>
					<div class="social-icons">
						<img class="icon1" src="images/icon001.svg" height="40" width="40">
						<img class="icon2" src="images/icon002.svg" height="40" width="40">
						<img class="icon3" src="images/icon003.svg" height="40" width="40">
						<img class="icon4" src="images/icon004.svg" height="40" width="40">
					</div>
			</footer>
			
			
</body>
</html>
