<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>gollner design {{page.title}}</title>
<link href="css/reset.css" rel="reset">
<link href="css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width,initial-scale=1,target-density,dpi=device-dpi">
<script src="js/modernizr.custom.js"></script>
</head>

<body>
	
	<header>
				<div class="logo">
					<img src="images/logo.svg" width="160" height="40">
				</div>
				
				<div class="social-top">
					<div class="social1"></div>
					<div class="social2"></div>
					<div class="social3"></div>

				</div>
			</header>



		
	

	

						
	{{content}}
	
			
			<footer>
					
			</footer>
			


		<script src="js/imagesloaded.pkggd.js"></script>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/CBPGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
			
</body>
</html>
